  <section class="find-sitter">
    <h1 >Find the perfect pet sitter near you.</h1>
    <form>
        <input #city placeholder="City" id="city" 
        required
        >
        <button type="submit" (click)="search(city.value)"  

         class="btn">FIND A SITTER</button>
    </form>
</section>
<div>
    <div class="column-left">
        <section class="sitters">
        <a *ngFor="let sitter of sitters | async"  [routerLink]="['/sitter', sitter.id]">
            <img src="" alter="image">
            <h1 class="sitter-name">{{sitter.name}}</h1> 
            <div class="price"> {{sitter.price}}$/day </div>
            <p> {{sitter.description}} </p>  
        </a>
        </section>
    </div>
    <div class="column-right">
        <map #gmap [sitters]='sitters' ></map>
    </div>
</div>
