.find-sitter{
    text-align: center;
}
form{
    margin-top: 20px;
}
input{
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
    border-radius: 5px;
    line-height: 32px;
    padding-left: 10px; 
}
button{
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
    border-radius: 5px;
    line-height: 32px;
    border: none;
    background-color: #ddeaff;
    color: #369;
}
.sitters a{
    color: #369;
    display: block;
    text-decoration: none;
     background-color: whitesmoke;
    list-style-type: none;
    height: 200px;
    
    border: 2px solid lightsteelblue;
    border-radius: 7px;
    margin: 5px;
}
.sitters a:active
{
    text-decoration: none;
}
.sitters a:hover{
    border-color: cornflowerblue;
    cursor: pointer;

}
img {
    background-color: linen;
   
    width: 100px;
    height: 100px;
    margin: 5px;
    border: 0px;
    border-radius: 100%;
}
h1 {
    display: inline;
    font-size: 1.5em;
    font-family: 'Montserrat', sans-serif;
    vertical-align: top;
}
.price {
    padding-right: 10px;
    padding-top: 3px;
    float: right;
    font-size: 1.3em;
    font-family: 'Montserrat', sans-serif;
     vertical-align: top;
}
.column-right{
    width: 50%;
    display: inline-block;
    vertical-align: top;
}
.column-left{
    width: 49%;
    display: inline-block;
}