  <section class="find-sitter">
    <h1 >Find the perfect pet sitter near you.</h1>
    <form>
        <input #city placeholder="City" id="city" 
        required
        >
        <button type="submit" (click)="findSitters(city.value)" class="btn">FIND A SITTER</button>
    </form>
</section>

  <section class="sitters">
    <h2>Sitters close to your location:</h2>
    <a *ngFor="let sitter of sitters"  [routerLink]="['/detail', sitter.id]">
        <img src="" alter="image">
        <h1>{{sitter.name}}</h1> 
        <div class="price"> {{sitter.price}}$/day </div>
        <p> {{sitter.description}} </p>
        
    </a>
    </section>
